@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin-top: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c4b5fd;
}

.form__container {
  @apply px-8 pt-6 pb-8 bg-purple-600 rounded;
}

.form__label {
  @apply block mb-2 text-sm font-black text-white;
}

.form__input {
  @apply w-10/12 px-3 py-2 text-sm leading-tight font-black text-purple-600 border rounded appearance-none focus:outline-none;
}

.createButton {
  @apply w-full py-2 px-4 font-bold text-white bg-purple-500 rounded-full;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SCROLL BAR */

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 5px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

button .GoogleButton {
  background-color: blue !important;
}
