.card-main {
  width: 100%;
  max-width: 980px;
  height: 400px;
}

.card-size {
  min-height: 1500px;
  max-height: 1500px;
  max-width: 1500px;
  min-width: 1500px;
}


.card-main__img {
  min-width: 350px;
  max-width: 350px;
  height: 300px;
  transform: translateX(-80px);
  position: relative;
}

.card-main__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card-main__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.card-main__info {
  max-width: 350px;
}

.card-main__btn {
  /* letter-spacing: 0.5px; */
  padding: 15px 40px;
}
.card-sm__responsive {
  margin-top: 1px;
}
@media screen and (max-width: 639px) {
  .card-sm__responsive {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1068px) {
  .card-main {
    max-width: 800px;
  }

  .card-main__img {
    min-width: 300px;
    max-width: 300px;
    transform: translateX(-80px);
    position: relative;
  }
}

@media screen and (max-width: 868px) {
  .card-main {
    padding: 25px;
    flex-direction: column;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }

  .card-main__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card-main__text {
    text-align: center;
  }

  .card-main__img {
    min-width: 100%;
    max-width: 100%;
    transform: translate(0, -80px);
  }
}

/* @media (max-width: 1440px) {
  .card-main__img {
    transform: translate(-200px, 0px);
  }

  .card-main__img {
    transform: translate(-200px, 0px);
  }

  .card-main__info {
    max-width: 350px;
    transform: translateX(-150px);
    background: red ;
  }
} */

@media screen and (min-width: 1440px) {
  .card-main__img {
    transform: translate(-200px, 0px);
  }
  .card-main__info {
    max-width: 350px;
    transform: translateX(-150px);
  }
}

@media screen and (min-width: 1920px) {
  .card-main {
    width: 1000px;
  }

  .card-main__img {
    transform: translateX(-200px);
  }

  .card-main__info {
    max-width: 350px;
    transform: translateX(-150px);
  }
}

/* BTN */

.custom-btn {
  width: 130px;
  height: 40px;
  border: 2px solid white;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 10px;
}

.btn-14 {
  text-align: center;
  background: #8b5cf6;
  color: white;
  font-weight: bold;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  background: white;
  transition: all 0.3s ease;
  border-radius: 7px;
}
.btn-14:hover {
  color: #8b5cf6;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

/* KANJI */

.kanji {
  background-image: url(./kanjis.png);
  background-position: right;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 25%;
}

@media screen and (max-width: 1500px) {
  .kanji {
    background-size: 0%;
  }
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.airplane {
  display: none;
}

@media screen and (max-width: 1023px) {
  .airplane {
    display: block;
  }

  .airplane-main {
    display: none;
  }
}

.card-city {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 375px) {
  .carousel-padding {
    padding: 40px 0px;
  }
}

@media screen and (max-width: 425px) {
  .carousel-padding {
    padding: 40px 0px;
  }
}

@media screen and (max-width: 1024px) {
  .carousel-padding {
    padding: 20px 30px;
  }
}

@media screen and (min-width: 1440px) {
  .carousel-padding {
    padding: 20px 120px;
  }
}

@media screen and (min-width: 1620px) {
  .carousel-padding {
    padding: 20px 220px;
  }
}

/* BS */

@media screen and (max-width: 645px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 10px;
  height: 10px;
  color: tomato;
  background-color: #4c1d95;
  padding: 20px;
  border-radius: 10px;
}

/* CARD  */

.cardCountry {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardCountry figure {
  position: relative;
  width: 500px;
  height: 300px;
  overflow: hidden;
  border-radius: 6px;
  transition: all 0.5s ease-out;
}

.cardCountry figure:hover {
  box-shadow: 0px 3px 10px rgba(167, 139, 250, 1);
  transition: all 0.3s ease-in;
}

.cardCountry figure img {
  width: 100%;
  height: 100%;
}

.cardCountry figure img:hover {
  transform: scale(5px);
}

.cardCountry figure .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(167, 139, 250, 0.7);
  opacity: 0;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s ease-out;
  font-size: 30px;
  color: white;
}

.cardCountry figure .layer:hover {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 426px) {
  .cardCountry figure {
    position: relative;
    width: 50px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 639px) {
  .cardCountry figure {
    position: relative;
    width: 250px;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1440px) {
  .cardCountry figure {
    position: relative;
    width: 400px;
    height: 350px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1100px) {
  .cardCountry figure {
    position: relative;
    width: 290px;
    height: 250px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }

  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 769px) {
  .cardCountry figure {
    width: 210px;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 426px) {
  .cardCountry figure {
    width: 150px;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 320px) {
  .cardCountry figure {
    width: 120px;
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    transition: all 0.5s ease-out;
  }
  .cardCountry figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-country,
  .text-city {
    font-size: 15px;
  }
}

.carouse_custom_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.carousel_custom {
  width: 75vw;
  margin: auto;
}

/* SOCIAL MEDIA FOOTER */

:root {
  --bg: #dcdde1;
  --color-icon: #535c68;
  --social-icon1: #e4405f;
  --social-icon2: #3b5999;
  --social-icon3: #e4405f;
  --social-icon4: #cd201f;
  --social-icon5: #0077b5;
}

.social-media {
  /* display: flex;
  align-items: center;
  justify-content: center;   */
  background: var(--bg);
}

.icon-list {
  width: 100%;
  max-width: 50rem;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
}

.icon-item {
  list-style: none;
}

.icon-link {
  display: inline-flex;
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-icon);
  width: 6rem;
  height: 6rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 6rem;
  height: 6rem;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--social-icon1);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--social-icon2);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--social-icon3);
}

.icon-item:nth-child(4) a:hover:before {
  background: var(--social-icon4);
}

.icon-item:nth-child(5) a:hover:before {
  background: var(--social-icon5);
}

/* HERO CITIES */

.cityHero {
  color: #fff;
  height: 50vh;
  background-size: cover;
  background-position: 30%;
}

.cityHero,
.cityHero h1 {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}
.cityHero h1 {
  width: 100%;
  height: 10vh;
}

.input input[type="text"] {
  text-transform: lowercase;
}

/* IMG CITY */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
.mukta {
  font-family: "Mukta", sans-serif;
}
.img-city {
  width: 40%;
}

.img-city-info {
  width: 20%;
  height: 20%;
}

@media screen and (max-width: 638px) {
  .error404 {
    width: 100%;
    height: 100%;
    margin: 15rem auto;
  }

  .heart-arrow {
    flex-direction: row;
  }
}

.under-construction {
  width: 300px;
  height: 300px;
}

.dollar {
  width: 40px;
  height: 23px;
}

.image-activity {
  width: 100%;
  height: 100%;
}